.diccionario {
         
         background: bisque;
         display: flex;
         justify-content: space-around;
}
.formulario {
         
         padding-top: 10%; 
         font-size: 130%;
            
}
form{    
         display: flex;
        
         flex-direction: column;
         
        
}
.elementos {
         background: salmon;
         padding-top: 10%;
}
input {
         padding: 5%;
         font-size: 120%;
}

.salida {
        
         padding: 5%;
         
         
}
p {
         padding-right: 30%;
}